---
const title = "About Me";
const identity = {
  firstName: "Hanna",
  country: "USA",
  occupation: "Software Engineer",
  hobbies: ["photography", "sewing", "snowshoeing"]
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
	<a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

		<h1>{title}</h1>
		<p>I'm trying to do this lmao, i think i really tried to dive in too deep of the bat</p>
		<p>pray for me</p>

		<p>Some cool facts about me:</p>
		<li>My name is {identity.firstName}</li>
		<li>I live in {identity.country} and I work as a {identity.occupation}.</li>
		{identity.hobbies.length >= 2 &&
		<li>Two of my hobbies are {identity.hobbies[0]} and {identity.hobbies[1]} }
		<li>A third hobby is {identity.hobbies[2] }


<h1>Contact</h1>
      <form
        name="contact"
        method="post"
        data-netlify="true"
        data-netlify-honeypot="bot-field"
        onSubmit="submit">
        <input type="hidden" name="form-name" value="contact" />
        <p hidden>
          <label>
            Don’t fill this out: <input name="bot-field"/>
          </label>
        </p>
        <p>
          <label>
            Your name:
            <br />
            <input type="text" name="name"/>
          </label>
        </p>
        <p>
          <label>
            Your email:
            <br />
            <input type="email" name="email"/>
          </label>
        </p>
        <p>
          <label>
            Message:
            <br />
            <textarea name="message"/>
          </label>
        </p>
        <p>
          <button type="submit">Send</button>
        </p>
      </form>
	</body>
</html>
